<div class="card-deck">
    <div class="card">
      <img src="https://lh3.googleusercontent.com/proxy/lBxuZcCilGb5GbSqyoc4aqyijjLb7jEv-hlYSgg6KnWNh_Tvnj0IIDAgCMYS1fdJ-mRWDpRzGukh6W9qo1eG-r18tymQ-YKV5bIOWXmKwac" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Julian Enrique Correa Guzman</h5>
        <br>
        <p class="card-text">Compensar Fundación Universitaria</p>
        <p class="card-text">Estudiante de ingenieria de software</p>
        <p class="card-text">6 semestre</p>
        <p class="card-text">19 Años</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Documentador de Software</small>
      </div>
    </div>
    <div class="card">
      <img src="https://lh3.googleusercontent.com/proxy/lBxuZcCilGb5GbSqyoc4aqyijjLb7jEv-hlYSgg6KnWNh_Tvnj0IIDAgCMYS1fdJ-mRWDpRzGukh6W9qo1eG-r18tymQ-YKV5bIOWXmKwac" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Juan Diego Estupiñan Restrepo</h5>
        <br>
        <p class="card-text">Compensar Fundación Universitaria</p>
        <p class="card-text">Estudiante de ingenieria de software</p>
        <p class="card-text">6 semestre</p>
        <p class="card-text">19 Años</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Desarrollador</small>
      </div>
    </div>
    <div class="card">
      <img src="https://lh3.googleusercontent.com/proxy/lBxuZcCilGb5GbSqyoc4aqyijjLb7jEv-hlYSgg6KnWNh_Tvnj0IIDAgCMYS1fdJ-mRWDpRzGukh6W9qo1eG-r18tymQ-YKV5bIOWXmKwac" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Juan David Romero Rodas</h5>
        <br>
        <p class="card-text">Compensar Fundación Universitaria</p>
        <p class="card-text">Estudiante de ingenieria de software</p>
        <p class="card-text">6 semestre</p>
        <p class="card-text">20 Años</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Desarrollador</small>
      </div>
    </div>
  </div>