<div id="title" class="text-center">
    <h1>Bienvenido a Preguntados: Edicion infraestructura unipanamericana</h1>
</div>
<div>
    
</div>
<p>¿Quieres aprender de forma dinámica y rápida cómo puedes reconocer todas las sedes de la universidad sin ningun tipo de problema? Pues mira el siguiente video informativo y vamos a jugar</p>
<h3>Informacion importante antes de empezar a jugar</h3>
<p>ntes de empezar a jugar debes leer la siguiente informacion acerca de las sedes de la universidad con ella podras resolver las preguntas mas rapido y mucho mas facil</p>
<div class="yt-video">
    <img src="../../../assets/images/1.png" alt="imagen">
</div>
<div class="yt-video">
<img src="../../../assets/images/2.png" alt="imagen">
</div>
<div class="yt-video">
<img src="../../../assets/images/3.png" alt="imagen">
</div>
<div class="yt-video">
    <p>Imagenes tomadas de la presentacion "conociendo la U" de la Fundacion Universitaria unipanamericana</p>
</div>

<div class=" button-play col-xs-12 ">
    <button class="button-play" (click)="play()" style="background-color: #e86320; color: white; margin-left: 38%;" class="btn btn-lg text-uppercase btn-rounded "
        type="submit ">¡QUIERO JUGAR YA MISMO!</button>
</div>