<div class="card">
    <h5 class="card-title">¿Cuál es el nombre de esta sede?</h5>
    <img src="https://orientacion.universia.net.co/imgs2011/imagenes/fachada_un-2013_11_14_171244.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">{{pregunta.titulo}}<i class="fas fa-question-circle"></i></p>
      <hr>
      <div class="checkbox">
        <label><input type="checkbox" value="">Option 1</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Option 1</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Option 1</label>
      </div>
      <button type="button" class="btn btn-success">Success</button>
    </div>
  </div>
</div>