.my-fixed-item {
    position: fixed;
    min-height: 120px;
    width: 252px;
    text-align: center;
    word-wrap: break-word;
    
}
.container-temp{
    float: right;
    padding-right: 4%;
}
.imageCard {
    width: 730px;
    height: 380px;
    margin-left: 17%;
}

h5{
    margin: 2%;
}
.btnEspacio5050 {
    margin-top: 5px;
    margin-bottom: 50px;
    background-image:url(../../../assets/images/emprendedor.jpg);
}
.btnEspacioSB {
    margin-top: 140px;
    margin-bottom: 50px;
}
.btnEspacioDV {
    margin-top: 275px;
    margin-bottom: 50px;
}
.btnBonus {
    border-radius: 100%;
    height: 70px;
    width: 120px;
    font-size: 20px;
}
.btnsBonus{
padding-left: 64px;
}

.imageInstruction{
    width: 70%;
    position: relative;
    left: 10%;
    
}

.centrarCaja {
    position: relative;
    left: 20%;
}



