<h1>JUGAR <i class="fas fa-gamepad"></i></h1>
<div class="container-temp" *ngIf="empezar">
  <div> 
    <h2 id="temp" class="my-fixed-item" ng-change="time" >{{time}}</h2>
  </div>
  <br>
  <br>
  <div> 
    <h2 class="my-fixed-item" >Puntaje</h2>
  </div>
  <br>
  <br>
  <div> 
    <h2 id="score" class="my-fixed-item" ng-change="score" >{{scoreGame}}</h2>
  </div>
  <br>
  <br>
  <div class="btnsBonus btnEspacio5050"> 
    <button id="mitad" class="my-fixed-item btnBonus btn btn-outline-primary" (click)="bonus5050()">50:50</button>
  </div>
  <div class="btnsBonus btnEspacioSB"> 
    <button id="saberRespuesta" class="my-fixed-item btnBonus btn btn-outline-success" (click)="saberRespuestaBonus()">Saber repuesta</button>
  </div>
  <div class="btnsBonus btnEspacioDV"> 
    <button id="dosVeces" class="my-fixed-item btnBonus btn btn-outline-info" (click) = "dosVeces()">Dos Intentos</button>
  </div>
</div>
<div class="row align-items-center" *ngIf="!empezar">
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="empezarJuego()">empezar</button>
</div>
<div class="row row-cols-1 row-cols-md-2" *ngIf="empezar">
  <div class="col mb-4" *ngFor ="let question of question; let i=index">
    <div class="card">
      <h5 class="card-title">{{question.text_question}}</h5>
      <img [src]="question.id_imagen" class="  animated fadeIn fast card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{question.clue}}</p>
        <hr>
        <div class="checkbox">
          <button type="button" id ="op{{i}}1" class="btn btn-outline-dark btn-block" (click)="saberRespuesta(i,1)">{{question.opcion_1}}</button>
        </div>
        <hr>
        <div class="checkbox">
          <button type="button"  id ="op{{i}}2" class="btn btn-outline-dark btn-block" (click)="saberRespuesta(i,2)">{{question.opcion_2}}</button>
        </div>
        <hr>
        <div class="checkbox">
          <button type="button"  id ="op{{i}}3" class="btn btn-outline-dark btn-block" (click)="saberRespuesta(i,3)">{{question.opcion_3}}</button>
        </div>
        <hr>
        <div class="checkbox">
          <button type="button"  id ="op{{i}}4" class="btn btn-outline-dark btn-block" (click)="saberRespuesta(i,4)">{{question.opcion_4}}</button>
        </div>
      </div>
    </div>
  </div>
</div>