<!-- AQUÍ SE DEBE MOSTRAR COMO EN EL VIDEO LA LISTA DE LOS EMPEADOS DISPONIBLESR -->
<h1>RANKING <i class="fas fa-users"></i></h1>
<div>
    <div class="row animated fadeIn fast">
        <div class="col-9">
            <p>En el presente espacio podrás visualizar el ranking de los usuarios con los puntajes más altos dentro de la aplicación ¿Eres uno de ellos?</p>
        </div>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Puesto</th>
                <th scope="col">Foto</th>
                <th scope="col">Usuario</th>
                <th scope="col">Carrera</th>
                <th scope="col">Puntaje</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor ="let allRanking of allRanking; let i=index">
                <th scope="row">{{i+1}}</th>
                <td><img [src]="allRanking.id_imagen == '' || allRanking.id_imagen == null ? 'https://www.softzone.es/app/uploads/2018/04/guest.png' : allRanking.id_imagen"></td>
                <td>{{allRanking.nickName}}</td>
                <td>{{allRanking.carrera}}</td>
                <td>{{allRanking.score}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>