<!-- AQUÍ SE DEBE MOSTRAR COMO EN EL VIDEO LA LISTA DE LOS EMPEADOS DISPONIBLESR -->
<h1>RANKING <i class="fas fa-users"></i></h1>
<div>
    <div class="row animated fadeIn fast">
        <div class="col-9">
            <p>En el presente espacio podrás visualizar el ranking de los usuarios con los puntajes más altos dentro de la aplicación ¿Eres uno de ellos?</p>
        </div>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Puesto</th>
                <th scope="col">Foto</th>
                <th scope="col">Usuario</th>
                <th scope="col">Carrera</th>
                <th scope="col">Puntaje</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>josep</td>
                <td>Otto</td>
                <td>Ingeniería de software</td>
                <td>19200</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Administración de empresas</td>
                <td>13100</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Mercadeo</td>
                <td>9500</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>